:root{
    --buff: #e59f71ff;
    --sinopia: #ba5a31ff;
    --night: #0c0c0cff;
    --emerald: #69dc9eff;
    --white: #ffffffff;
}


button{
<<<<<<< HEAD
    background: var(--sinopia);
    border-radius: 5px;
    color: var(--white);
    width: 70;
    height: 50;
=======
    border-radius: 50px;
>>>>>>> e87a3a1575eb3061d275d9c4f4b3ec8e12dea214
}

button:hover{
    width: 60px;
}