:root{
    --buff: #e59f71ff;
    --sinopia: #ba5a31ff;
    --night: #0c0c0cff;
    --emerald: #69dc9eff;
    --white: #ffffffff;
}


button{
    background: var(--sinopia);
    border-radius: 5px;
    color: var(--white);
    width: 70;
    height: 50;
}

button:hover{
    width: 60px;
}